@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;500;700&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    outline: none;
}

.header-landing-photo {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(80deg, rgba(49, 7, 7, 0.5), rgba(26, 24, 24, 0.4)), url("../img/bg-landing-page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header-landing {
    width: 100%;
    height: 100vh;
    background-color: black;
}

nav {
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: 1000;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}

.principal {
    background-color: rgb(231, 162, 162);
}

.titulo-cards {
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 900;
}

.logo:hover {
    color: whitesmoke;
    font-size: 1.2em;
    text-decoration: underline;
}

.arrow-seguir {
    color: white;
    text-align: center;
    margin-top: 25px;
    width: 100%;
    transition: 0.2s ease;
}

.arrow-seguir:hover {
    transform: translateY(5px);
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 15px;
    list-style: none;
    text-decoration: none;
}

nav ul li a {
    font-size: 1em;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
}

.contenido-header {
    max-width: 700px;
    height: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenido-header h2 {
    font-size: 45px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}

.contenido-header a {
    display: inline-block;
    margin-top: 25px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
}

.contenido-header a:hover {
    transform: translateY(5px);
    background-color: #5B2C6F;
    color: white;
}

.contenedor-card-text h2 {
    font-weight: 500;
}

.landing-cards {
    width: 100%;
    height: 100vh;
    /*background: linear-gradient(80deg, rgba(49, 7, 7, 0.5), rgba(26, 24, 24, 0.4));*/
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor-card {
    width: 80%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}

.contenedor-card-text {
    width: 55%;
    height: 45%;
    margin: auto;
    padding: 15px;
}

.contenedor-card-text h2 {
    margin-bottom: 15px;
    font-size: 2em;
}

.contenedor-card-text h2 span {
    font-weight: 900;
}

.contenedor-card-video {
    background: black;
    border-radius: 15px;
    width: 60%;
    margin-right: 15px;
    margin: auto;
}

.card-video {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}

.card-video:hover {
    -webkit-box-shadow: 2px 1px 7px 3px rgba(91, 44, 111, 0.59);
    box-shadow: 2px 1px 7px 3px rgba(91, 44, 111, 0.59);
}

footer {
    background-color: black;
    height: 80%;
}

footer .titulo-footer,
.contenido-footer p {
    color: white;
    text-align: center;
}

.titulo-footer {
    font-weight: 900;
}

.redes-sociales {
    display: flex;
    justify-content: center;
}

.redes-sociales i {
    font-size: 30px;
    padding: 20px;
    transition: 0.5s ease;
    color: #5B2C6F;
}

.redes-sociales i:hover {
    transform: translateY(-5px);
    color: white;
}

.contenedor-registro {
    border-radius: 15px;
    background-color: white;
    max-width: 60%;
    height: 400px;
    margin: auto;
}

.contenedor-rg {
    height: 400px;
    display: flex;
}

.img-contendor-rg {
    width: 100%;
}

.img-contendor-rg img {
    width: 100%;
    height: 100%;
}

.contenedor-rg form {
    width: 100%;
    height: 90%;
    margin: auto;
}

.inputs-rg {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.inputs-rg label {
    margin: 8px 0;
    color: #5B2C6F;
    font-weight: 600;
    display: flex;
    text-align: center;
    align-self: left;
    vertical-align: bottom;
}

.inputs-rg input {
    border: none;
    margin: 5px 0;
    height: 25px;
    transition: 0.8s ease;
}

.inputs-rg input:hover {
    border-bottom: 1px solid black;
}

.button {
    min-width: 35%;
    display: inline-block;
    margin: auto;
    margin-top: 5px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
}

.button:hover {
    transform: translateY(5px);
    background-color: #5B2C6F;
    color: white;
}

.button.morado {
    background-color: #5B2C6F;
    cursor: pointer;
}

.titulos {
    text-align: center;
    font-weight: 900;
    margin-bottom: 45px;
}

@media screen and (max-width: 800px) {
    .header-landing {
        background-position: center;
    }
    .contenedor-card {
        flex-wrap: wrap;
        width: 100%;
    }
    .contenedor-card-video {
        margin-top: 0px;
        max-width: 80%;
    }
    .contenedor-card-text {
        margin-top: 25px;
        width: 100%;
        text-align: center;
    }
    .contenedor-card-text audio {
        width: 80%;
        height: 40px;
    }
    .img-contendor-rg {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .header-landing {
        background-position: center;
    }
    .contenedor-card {
        flex-wrap: wrap;
        width: 100%;
    }
    .contenedor-card-video {
        margin-top: 0px;
        width: 100%;
        height: 65px;
    }
    .card-video {
        width: 100%;
    }
    .contenedor-card-text {
        margin-top: 25px;
        width: 100%;
        text-align: center;
    }
    .contenedor-card-text audio {
        width: 100%;
        height: 40px;
    }
    .img-contendor-rg {
        display: none;
    }
}